* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: "Noto Sans JP", sans-serif;
    background: FFFBFB;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.river {
    height: 100vh;
}